[submodule ".opencode"]
	path = .opencode
	url = https://github.com/codegeist-ai/codegeist-agent-kit.git
	branch = release
[submodule ".devcontainer"]
	path = .devcontainer
	url = https://github.com/codegeist-ai/codegeist-devcontainer-kit.git
	branch = release
[submodule "docs/third-party/opencode/source"]
	path = docs/third-party/opencode/source
	url = https://github.com/anomalyco/opencode.git
	branch = dev
[submodule "docs/third-party/spring-ai-agent-utils/source"]
	path = docs/third-party/spring-ai-agent-utils/source
	url = https://github.com/spring-ai-community/spring-ai-agent-utils.git
[submodule "docs/third-party/aider/source"]
	path = docs/third-party/aider/source
	url = https://github.com/Aider-AI/aider
[submodule "docs/third-party/mini-swe-agent/source"]
	path = docs/third-party/mini-swe-agent/source
	url = https://github.com/SWE-agent/mini-swe-agent.git
[submodule "docs/third-party/pi/source"]
	path = docs/third-party/pi/source
	url = https://github.com/earendil-works/pi.git
[submodule "docs/third-party/tau/source"]
	path = docs/third-party/tau/source
	url = https://github.com/alejandro-ao/tau.git
	branch = main
[submodule "docs/third-party/spring-shell/source"]
	path = docs/third-party/spring-shell/source
	url = https://github.com/spring-projects/spring-shell
	branch = main
